.bezier {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}

.content {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.display {
  flex: 3;
  height: 60%;
  background-color: #f0f0f0;
}

.controller {
  flex: 2;
  height: 40%;
  padding-top: 6px;
  background-color: #9acd3266;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.preview-current {
  width: 10vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.preview-compare {
  width: 10vw;
  padding: 0 12px;
  background-color: #4169e166;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}