.app {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}

.content {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.display {
  flex: 3;
  height: 75%;
}

.controller {
  flex: 1;
  height: 25%;
  padding-top: 6px;
}

.preview-current {
  background-color: #00a;
  width: 15%;
  padding: 24px;
}

.preview-compare {
  background-color: #0a0;
  width: 15%;
  padding: 24px;
}